* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Main_sideNavbar {
    display: flex;
    height: 100vh;

    .Side_Navbar {
        width: 25%;
        padding-top: 20px;
        align-items: center;
        display: flex;
        padding: 20px 50px 0px 50px;
        background-color: #00A9FD;
        text-align: center;
        flex-direction: column;

    }


    .campus_heading {
        font-size: 50px;
        color: white;
        padding: 0px 0px 15px 0px;
    }

    .main_mapmenu {
        width: 150px;
        background-color: aliceblue;
        color: #00A9FD;
        border: 2px solid #00A9FD;
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        padding-left: 20px;
        justify-content: flex-end;
    }

    .main_mapmenu:hover {
        background-color: white;
        color: #00A9FD;
        border: 2px solid #00A9FD;
    }

    .map_menu {
        width: 150px;
        padding-left: 20px;
        background-color: #00A9FD;
        color: white;
        border: 2px solid #00A9FD;
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        justify-content: flex-end;
        // padding: 5px 0px;
    }

    .map_menu:hover {
        border: 2px solid #00A9FD;
        background-color: white;
        color: #00A9FD;
    }

    .campus_logo {
        font-size: 70px;
        color: white;
    }

    .children {
        width: 75%;
        background-color: #00A9FD;
    }
}