.login_button {
    margin: 5px 0px;
    padding: 6px 10px;
    background-color: #00A9FD;
    color: white;
    width: 100%;
    border: 2px solid #00A9FD;
    border-radius: 6px;
}

.login_button:hover {
    border: 2px solid #00A9FD;
    background-color: white;
    color: #00A9FD;
}    